/* display header tag */
.positioned {
  font-size: 30px;
  color: #FFFFFF;
  font-family: serif;
}
/* display div tag have image and name */
.caption{
  background:rgb(193, 159, 74);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 500px;
} 
/* display tweet here arrow display tag */
.tweetarrow {
  display: flex;
}
/* display when screen size tablet size*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .nav-tweet {
    background:rgb(193, 159, 74);
    width: 100%;
  }
}
/* display when screen size desktop size */
@media only screen and (min-width: 1024px){
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  /* display header tag */
  .positioned {
  display: flex;
  position: relative;
  width: 50%; 
  margin: 200px 0px 0px 0px;
  }
  .caption{
    display: inline-block;
  }
  /* display main tag */
  .container
  {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 80px 8px 8px 8px;
    padding: 0px 0px 40px 0px;
   }
}
